.slick-track {
  /* background-color: red; */
  display: flex !important;
  align-items: stretch !important;
}

.slick-slide {
  display: flex !important;
  height: auto !important;
  /* background-color: green; */
}

.slick-slide > div {
  margin: 0 22px;

  display: flex;
  width: 100%;
  height: 100%;
}

.slider-container {
  padding: 0 0 40px 0;
  margin-top: 56px;
}

.slick-prev {
  content: url("../../assets/move-right.svg");
  top: auto;
  bottom: -104px;
  width: 48px;
  height: 48px;
  left: calc(45.5% - 15px);
  transform: rotate(180deg);
}
.slick-next {
  content: url("../../assets/move-right.svg");
  top: auto;
  bottom: -128px;
  width: 48px;
  height: 48px;
  right: calc(45.5% - 15px);
}

@media (max-width: 768px) {
  .slick-prev {
    left: calc(45.5% - 35px) !important;
  }
  .slick-next {
    right: calc(45.5% - 35px) !important;
  }
  .slick-slide > div {
    margin: 0 6px;
  }
}


.feedback-info-container {
  opacity: 80%;
}

.feedback-info-container:hover {
  opacity: 100%;
}

.avatar {
  width: 45px;
  aspect-ratio: 1/1;
  object-fit: cover;
  display: block;
}

.avatar-1 {
  margin-top: 1px;
  transform: scale(0.96);
}

.avatar-2 {
  transform: scale(0.96);
  margin-top: 0px;
}

.avatar-3 {
  margin-bottom: 4px;
  transform: scale(0.93);
}


.avatar-container {
  position: relative;
  display: inline-block;
  aspect-ratio: 1/1;
  /* background-color: red; */
}

.avatar-container::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  background-color: #1c1c1c;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}