.slick-prev {
  content: url("../../assets/move-right.svg");
  top: auto;
  bottom: -84px;
  width: 48px;
  height: 48px;
  /* left: calc(45.5% - 15px); */
  transform: rotate(180deg);
}
.slick-next {
  content: url("../../assets/move-right.svg");
  top: auto;
  bottom: -108px;
  width: 48px;
  height: 48px;
  /* right: calc(45.5% - 15px); */
}

@media (max-width: 768px) {
  .slick-prev {
    left: calc(45.5% - 35px) !important;
  }
  .slick-next {
    right: calc(45.5% - 35px) !important;
  }
}

@media (max-width: 570px) {
  .slick-prev {
    content: url("../../assets/move-right.svg");
    top: auto;
    bottom: -84px;
    width: 48px;
    height: 48px;
    left: calc(45.5% - 15px);
    transform: rotate(180deg) scale(0.75);
    opacity: 0.75;
  }
  .slick-next {
    content: url("../../assets/move-right.svg");
    top: auto;
    bottom: -84px;
    width: 48px;
    height: 48px;
    /* right: calc(45.5% - 15px); */
    transform: scale(0.75);
    opacity: 0.8;
  }
  .slick-prev:focus {
    opacity: 1;
  }
  .slick-next:hover {
    opacity: 1;
  }
}