body {
  background-color: rgb(29, 25, 31);
}

.body-wrapper {
  background-color: rgb(10, 12, 29);
  background-image: linear-gradient(
    135.51deg,
    rgba(64, 160, 241, 0.08) 24.78%,
    rgba(231, 38, 119, 0.08) 48.74%,
    rgba(254, 176, 56, 0.08) 75.22%
  );
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-top: 32px;
}

.bg-rainbow {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}